body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  border: 1px solid #bdc3c7;
  padding: 5px;
  margin: 2px;
  cursor: pointer;
}

.frame-content,
.frame-root,
body,
html {
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

button {
  padding: 10px;
  background-color: #3498db;
  color: #ecf0f1;
  font-size: 16px;
  outline: 0;
}

input {
  padding: 8px 10px;
  outline: 0;
}

ul {
  list-style: none;
  padding: 0;
}
